@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply font-primaria w-33 h-12 not-italic font-normal text-f40 leading-l48 

	/* absolute left-left418 top-32 */
	/* left: 418px;
       top: 128px; */;
}
h2 {
	@apply font-secundaria w-41 h-42 not-italic font-bold text-f32  leading-l42 
	/* absolute left-left418 top-48 */

/* left: 418px;
top: 192px; */;
}

h3 {
	@apply font-secundaria w-42 h-42 not-italic font-bold text-f32 leading-l42 

	/* absolute left-left418 top-64 */
	/* left: 418px;
       top: 256px; */

	
}
h4{
	@apply font-secundaria w-11 h-42 not-italic font-bold text-f32 leading-l42

	 /* absolute left-left418 top-80 */

		/* left: 418px;
	top: 320px; */

}

/* left: 418px;
top: 256px; */
